*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300&display=swap');
body {
    margin: 5%;
    padding: 0.5%;
    font-family: 'Fahkwang', sans-serif;
    color: #535353;
    background: rgb(245,238,238);
    background: radial-gradient(circle, rgba(245,238,238,1) 0%, rgba(200,201,201,1) 100%);
    /* background: rgb(252,252,252);
background: radial-gradient(circle, rgba(252,252,252,1) 0%, rgba(215,215,215,1) 100%); */
}
h1, h2, h3, h5 {
    text-decoration: none;
    color: #535353;
    font-family: 'Fahkwang', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
    font-size: 1rem;
}
a, p {
    text-decoration: none;
    color: #535353;
    font-family: 'Fahkwang', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
}
ul li{
    padding: 5px;
}
ul li a {
    text-decoration: none;
    color: #535353;
    font-family: 'Fahkwang', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
}
ul li .form-inline .form-control {
    text-decoration: none;
    color: #535353;
    font-family: 'Fahkwang', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
}
.section1 {
    height: 100vh;
    padding: 5%;
    /* background-color: blueviolet; */
}
.section2 {
    height: 100vh;
    padding: 5%;
    /* background-color: blueviolet; */
}
.section3 {
    height: 80vh;
    padding: 5%;
    /* background-color: blueviolet; */
}
.section4 {
    height: 100vh;
    padding: 5%;
    /* background-color: blueviolet; */
}
.section5 {
    height: 100vh;
    padding: 5%;
    background-color: blueviolet;
}

.section1 a{
    text-decoration: none;
    color: #535353;
    font-family: 'Fahkwang', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 400;
}



